<!-- <form class="example-form" [formGroup]="visitorDetail.Form"> -->
<form class="example-form" #f="ngForm" (ngSubmit)="postVisitorDetail(f)" autocomplete="off" >
  <h2 class="title">Customer Form</h2>
  <p>Please fill this form!</p>
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>First name</mat-label>
          <input matInput ngModel required name="firstName">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Last Name</mat-label>
          <input matInput name="lastName" ngModel>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Gender</mat-label>
          <input matInput name="gender" ngModel required >
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Date of Birth</mat-label>
          <input matInput name="dateOfBirth" ngModel required >
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Age</mat-label>
          <input matInput name="age" ngModel required>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Height</mat-label>
          <input matInput name="height" ngModel required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Weight</mat-label>
          <input matInput name="weight" ngModel required>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Email Address</mat-label>
          <input matInput name="emailAddress" ngModel required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Phone Number</mat-label>
          <input matInput name="phoneNumber" ngModel required>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <p>
    <mat-form-field class="example-full-width">
      <mat-label>Address</mat-label>
      <textarea matInput placeholder="Jl. Jendral Sudirman No. 4" name="address" ngModel required></textarea>
    </mat-form-field>
  </p>

  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>City</mat-label>
          <input matInput placeholder="Ex. Samarinda" name="city" ngModel required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>State</mat-label>
          <input matInput placeholder="Ex. India" name="gender" ngModel required>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <button mat-raised-button color="primary" class="printButton" type="submit">Save</button>
  <p class="warning">{{outputMessage}}</p>
</form>
