
<h1>Visitor Details List</h1>
<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Firstname/th>
      <th scope="col">Lastname</th>
      <th scope="col">Gender</th>
      <th scope="col">Height</th>
      <th scope="col">Weight</th>
      <th scope="col">Date Of Birth</th>
      <th scope="col">Age</th>
      <th scope="col">Email</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Address</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of visitorDetailList; let i = index" [attr.data-index]="i">
      <!-- <th scope="row">1</th> -->
      <td>{{i+1}}</td>
      <td>{{data.firstName}}</td>
      <td>{{data.lastName}}</td>
      <td>{{data.gender}}</td>
      <td>{{data.height}}</td>
      <td>{{data.weight}}</td>
      <td>{{data.dateOfBirth}}</td>
      <td>{{data.age}}</td>
      <td>{{data.emailAddress}}</td>
      <td>{{data.phoneNumber}}</td>
      <td>{{data.address}}</td>
      <td>{{data.city}}</td>
      <td>{{data.state}}</td>

    </tr>
  </tbody>
</table>
