<mat-drawer-container class="sideNav">
  <mat-drawer mode="side" opened class="buttonGroup">
    <div fxLayout="column" fxLayoutGap="10px">
      <button mat-raised-button style="background: green" (click)="changePage('')" > Tasks </button>
      <button mat-raised-button style="background: slateblue" (click)="changePage('request-queue-number')"  > Print Queue
        Number </button>
      <button mat-raised-button style="background: green" (click)="changePage('input-visitor-details')"> Input Visitor
        Details </button>
      <button mat-raised-button style="background: orange" (click)="changePage('visitor-list')"> Visitor List </button>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

